.low {
  .primary {
    fill: #00D855;
  }

  .secondary {
    fill: #D7004D;
  }
}

.mid {
  .primary {
    fill: #F5A623;
  }

  .secondary {
    fill: #D7004D;
  }
}

.high {
  .primary {
    fill: #D7004D;
  }

  .secondary {
    fill: #F5A623;
  }
}
